{% extends "back/layout.html.twig" %}

{% block content %}

	<div class="container">

		<h1>Modifier un bloc</h1>

		{{ form_start(form) }}

		{{ form_widget(form) }}

		<button type="submit" class="button ms-auto">
			<span>Enregistrer</span>
		</button>

		{{ form_start(form) }}

	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.3.2/tinymce.min.js" integrity="sha512-0hADhKU8eEFSmp3+f9Yh8QmWpr6nTYLpN9Br7k2GTUQOT6reI2kdEOwkOORcaRZ+xW5ZL8W24OpBlsCOCqNaNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script>
	
	addEventListener("DOMContentLoaded", () => {
		tinymce.init({
			selector: '.tinymce'
		});
	})
	
	</script>

{% endblock %}
