{% extends "back/layout.html.twig" %}

{% block title %}Tous les pages - Back-office
{% endblock %}

{% block content %}

	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h1>Toutes les pages</h1>
			</div>
			<div class="col-md-4 text-end">
				<a href="{{ path("app_back_page_create") }}" class="button float-end">
					<span>Ajouter</span>
				</a>
			</div>
		</div>
		<hr>
		<div class="row page-grid mt-5">
			{% for page in pages %}

				<div class="col-md-6">
					<div class="realisation">
						<h3>{{ page.name }}</h3>
						<p>{{ page.description }}</p>
						<a href="{{ path("app_back_page_edit", { id : page.id }) }}" class="button">
							<span>Modifier</span>
						</a>
					</div>
				</div>

			{% endfor %}
		</div>
	</div>

{% endblock %}
