.btn, .button {
    border: 2px solid black;
    padding: 9px 32px;
    border-radius: 25px;
    text-transform: uppercase;
    display: block;
    width: fit-content;
    text-decoration: none;
    color: black;
    transition: $transition;
    position: relative;
    overflow: hidden;
    background: white;

    &.center {
        margin-left: auto;
        margin-right: auto;
    }

    &.right {
        margin-left: auto;
    }

    span {
        position: relative;
        z-index: 10;
    }

    &::after {
        position: absolute;
        content: "";
        left: -10px;
        top: -10px;
        width: 0%;
        height: calc(100% + 20px);
        transition: $transition;
        background: black;
        border-radius: 25px;
        clear: both;
    }

    &:hover {
        color: white;
        &::after {
            width: calc(100% + 20px);
        }
    }
}
