// [TEMPORARY]
// random color for placeholder backgrounds
// (codepen: https://codepen.io/fazlurr/pen/wvPEwb)
#page-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .page-preview {
        // width: 25%;
        aspect-ratio: 1/1;
        position: relative;
        overflow: hidden;
        display: block;
        
        img {
            transition: $transition;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        &:hover {
            img {
                transform: scale(1.05);
                filter: brightness(1.1);
            }
        }
        
        @media (max-width: $mobile-md) {
            width: 100%;
            height: calc(100vw - 30px);
        }
    }

    @media (max-width: $mobile-md) {
        div.page-preview {
            display: none;
        }
    }
}
