<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="description" content="{% block description %}{% endblock %}">
		<link rel="icon" href="{{ asset("build/images/favicon.jpg") }}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,300;1,600&display=swap" rel="stylesheet"> {% block stylesheets %}{% endblock %}{% block javascripts %}{% endblock %}
		</head>
		<body>

			<div id="flash-container">
				{% for label, messages in app.flashes %}
					{% for message in messages %}
						<div class="alert alert-{{ label }} alert-dismissible fade show flash-notification" role="alert">
							{{ message }}
							<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
					{% endfor %}
				{% endfor %}
			</div>

			<div id="cursor"></div>
			<div id="cursor-shadow"></div>

			{% block body %}{% endblock %}
		</body>
	</html>
