{% extends 'back/layout.html.twig' %}

{% block title %}Accueil du back-office{% endblock %}

{% block content %}

    <div class="container">
        <h1>Accueil du back-office</h1>
    </div>

{% endblock %}
